@font-face {
  font-family: 'Source Sans Pro';
  font-style:'normal';
  font-weight:'300';
  src: "local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/toadOcfmlt9b38dHJxOBGOHJdKliW2M9IhUT0esa8kM.woff') format('woff')";
  }
  @font-face {
    font-family: "Open Sans";
    src: "local("Open Sans"),
      url("/fonts/opensans.woff2") format("woff2"),
      url("/fonts/opensans.woff") format("woff"),
      url("/fonts/opensans.ttf") format("truetype")";
  }
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
